@font-face {
    font-family: 'Tofino Cond';
    src: url('TofinoCond-Bold.woff2') format('woff2'),
        url('TofinoCond-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tofino Cond';
    src: url('TofinoCond-LightItalic.woff2') format('woff2'),
        url('TofinoCond-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Tofino Cond Book';
    src: url('TofinoCond-BookItalic.woff2') format('woff2'),
        url('TofinoCond-BookItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Tofino Cond';
    src: url('TofinoCond-RegularItalic.woff2') format('woff2'),
        url('TofinoCond-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Tofino Cond';
    src: url('TofinoCond-Regular.woff2') format('woff2'),
        url('TofinoCond-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tofino Cond';
    src: url('TofinoCond-BoldItalic.woff2') format('woff2'),
        url('TofinoCond-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Tofino Cond Book';
    src: url('TofinoCond-Book.woff2') format('woff2'),
        url('TofinoCond-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tofino Cond';
    src: url('TofinoCond-Light.woff2') format('woff2'),
        url('TofinoCond-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tofino Cond';
    src: url('TofinoCond-MediumItalic.woff2') format('woff2'),
        url('TofinoCond-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Tofino Cond';
    src: url('TofinoCond-Medium.woff2') format('woff2'),
        url('TofinoCond-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tofino Cond';
    src: url('TofinoCond-Semibold.woff2') format('woff2'),
        url('TofinoCond-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tofino Cond';
    src: url('TofinoCond-SemiboldItalic.woff2') format('woff2'),
        url('TofinoCond-SemiboldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Tofino Cond';
    src: url('TofinoCond-Thin.woff2') format('woff2'),
        url('TofinoCond-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tofino Cond';
    src: url('TofinoCond-ThinItalic.woff2') format('woff2'),
        url('TofinoCond-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

